@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: linear-gradient(to right,#6b1e9e 0%,#1f5ba0 100%);
    color: rgba(245, 245, 245, 0.815);
    letter-spacing: 0.075rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 13.5vh;
  }

li, a, button{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.815);
    font-size: 16px;
    letter-spacing: 0.1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75% 5%;
    background: rgb(6, 6, 94);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav_sections{
    list-style: none;
}

.nav_sections li{
    display: inline-block;
    padding: 0px 25px;
}

.nav_sections li a{
    transition: all 0.3s ease 0s;
}

.nav_sections li a:hover{
    opacity:0.9;
    font-size:18px;
    color:rgb(94, 156, 177);
}

button{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: rgb(94, 156, 177);
    padding: 9px 25px;
    transition: all 0.3s ease 0s;
}

button:hover{
    opacity: 0.85;
}


#about{
    background: linear-gradient(to right,#6b1e9e 0%,#1f5ba0 100%);
    margin-top: 5.75%;
    padding-top: 7.5vh;
    text-align: center;
    padding-bottom: 5vh;
}

.pImage{
    border-radius: 500px;
    width: 300px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(82, 81, 81);
}

.intro-heading{
    padding-top: 1%;
    font-size: 50px;
}

.about-paragraph{
    font-size: 24px;
    padding-top: 1%;
    padding-bottom: 3.5%;
}

#projects{
    background: linear-gradient(to right,#2d95a3 0%,#891e9e 100%);
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 7.5vh;
    font-size: 24px;
    padding-bottom: 15vh;
}

.box{
    width: 550px;
    height: 350px;
    background: rgb(50, 101, 117);
    border-radius: 10px;
    margin: auto;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

#contact{
    background: linear-gradient(to right,#9e1e5e 0%,#392da3 100%);
    width: 100%;
    height: 86.5vh;
    text-align: center;
    padding-top: 15vh;
    font-size: 24px;
}

#project1:hover{
    opacity: 0.6;
}

#project2:hover{
    opacity: 0.6;
}

#project3:hover{
    opacity: 0.6;
}

#project4:hover{
    opacity: 0.6;
}

#icon:hover{
    opacity: 0.75;
    font-size: 4.5em;
    transition: 0.2s ease-in-out;
}

#phone:hover{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#email:hover{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#LG{
    margin-top: 15px;
}

.LinkedInLink, .GithubLink {
    display: inline;
    padding: 20px;
    opacity: 0.8;
}

.LinkedInLink:hover{
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}

.GithubLink:hover{
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}